.container {
  height: 95vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.grid-container {
  display: grid;

  grid-template-columns: auto auto;
  grid-template-rows: auto;
}

p, span {
  font-family: 'Hanken Grotesk', sans-serif;
  font-size: 18px;
}